
.welcome {
  text-align: center;
}

p.donate-msg {
  font-size: 20px;
  margin-top: 10% !important;
}

form-inline {
    margin: 0 auto;
}

input#id_query {
    width:430px !important;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

ul#id_neg {
    list-style: none !important;
    margin-left: 180px;
}

h6.label {
    margin-left: 150px !important;
}