
.welcome {
  text-align: center;
}

p.donate-msg {
  font-size: 20px;
  margin-top: 10% !important;
}

form-inline {
    margin: 0 auto;
}

.form-control {
    width:430px !important;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}