{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retrievabl</title>
    <link rel="stylesheet" href="{% static 'retrievabl/base2.css' %}">
    <nav>
        <ul class="nav-items">
            <!--<li class="nav-items"><a href="#"><img src="{% static 'retrievabl/images/Retrievabl.svg' %}" alt="Retrievabl"></a></li>-->
            <li class="nav-items"><a href="#">Search</a></li>
            <li class="nav-items"><a href="#">Donate</a></li>
        </ul>
    </nav>
</head>
<body>
</body>
</html>