{% extends 'retrievabl/base_page.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'retrievabl/mission.css' %}">
    <div class="d-flex container-fluid mission-box align-items-center">
        <h2 class="mission-title">Our Mission</h2>
    </div>
    <p class="mission">Here at Retrievabl, we want to give more transparency to news searching. We hope to give you a
clearer view of the news you are consuming by giving you information about why our search results
are ranked the way they are. We have based our search algorithm off the idea that overly-negative news
        has a <a href="#">large impact on how people think about key topics</a> covered in news articles. We hope that by
improving the visibility of less-negative news articles, we can make a positive impact on society. </p>
{% endblock %}