{% extends 'retrievabl/base_page.html' %}
{% load static %}

{% block navbar %}
    <nav class="d-flex navbar navbar-expand-md navbar-light bg-light fixed-top align-items-center">
        <a class="navbar-brand" href="{% url 'retrievabl:index' %}">
            <img style="margin-left:6px;" src="{% static 'retrievabl/images/Retrievabl.png' %}" alt="Retrievabl">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav px-3">
                <button type="donate" class="nav-btn btn btn-success my-2 my-sm-0">Donate</button>
            </ul>
        </div>

    </nav>
  {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'retrievabl/search.css' %}">
    <ul class="articles">
    {% for article in articles %}
        <li style="list-style-type: none;"><div class="card" style="width: 50%; margin-bottom: 5px; margin-right: 0;">
            <div class="card-body">
                <h6 class="card-title"><a href="{{ article.url }}"><b>{{ article.title }}</b></a></h6>
                <h7 class="card-subtitle mb-2 text-muted">{{ article.source }} • {{ article.url }}</h7>
                <p class="card-text">{{ article.body_preview }}...</p>
                <h6 style="float:right;">| Score: {{ article.score }} </h6>
                <h6 style="float:right;">Negative words: {{ article.percentage }}% |</h6>
                <!--<svg style="float: right;" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27">
          <defs>
            <style>
              .cls-1 {
                opacity: 0.75;
              }

              .cls-2 {
                fill: #a2a2a2;
              }

              .cls-3 {
                fill: #fff;
                font-size: 20px;
                font-family: Georgia-Bold, Georgia;
                font-weight: 700;
                letter-spacing: 0.01em;
              }
            </style>
          </defs>
          <g id="Group_18" data-name="Group 18" class="cls-1" transform="translate(-1030 -253)">
            <g id="Add" class="cls-1" transform="translate(1030 253)">
              <path id="Path_209" data-name="Path 209" class="cls-2" d="M13.435,0A13.435,13.435,0,1,1,0,13.435,13.435,13.435,0,0,1,13.435,0Z"/>
              <text id="i" class="cls-3" transform="translate(14 21)"><tspan x="-3.535" y="0">i</tspan></text>
            </g>
          </g>
        </svg>-->
            </div>
        </div>

        </li>

    {% empty %}
        <p>No results.</p>
    {% endfor %}
    </ul>
{% endblock %}